.nosval{
    font-style: italic;
    text-decoration: overline;
}

.lesplus{
    border: 3px solid;
    border-color:rgb(46,204,113);
    border-radius: 5px;
}

.nosform{
    font-weight: 700;
    font-size: 35px;
}

h2{
    justify-content: start;
}

.pourqui{
    background-color: rgb(241,235,230);
    border-radius: 1%;
}

.check i{
    color: rgb(46,204,113);
    font-size: 75px;
    background-color: white;
    border-radius: 1%;
}

.inner-container{
    width: 550px;
    background-color: white;
}

.check{
    width: 1000px;
}

.carre{
    color: rgb(46,204,113);
}

img{
    width: 50%;
    height: auto;
}

ul li{
    list-style: none;
}

.emptycheck{
    color: orangered;
    font-size: 25px;
}

.lesaides{
    background-color: rgb(241,235,230);
}

.bg{
    background-color: white;
    border-radius: 1%;
}

.doc{
    color: orangered;
}

.nos_partenaires{
    background-color: rgb(241,235,230);
    border-radius: 10px;
}

.logo{
    width: 75%;
    height: auto;
}

.partenaires{
    border: 5px solid rgb(241,235,230); 
    border-radius: 10px;
}

.ern{
    width: 25%;
    height: auto;
}

.footer_alt{
    /* text-align: center; */
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer_alt h4{
    text-transform: uppercase;
    color: #1779a3;
}

.footer_alt ul{
    list-style-type: none;
}

.footer_alt li{
    color: #1779a3;
}

.footer_alt label{
    color: white;
}

.footer_alt{
    background-color: rgb(241,235,230);
}

.footer_alt ul p{
    color: white;
}

.footr_alt{
   background-color: #1779a3;
   color: rgb(241,235,230);
   border-radius: 10px;
}


.x_twitter{
    color: rgb(1,26,45);
}

.linked_in{
    color: rgb(1,26,45);
}

.footer a{
    text-decoration:none;
    color: #1779a3;
    text-align: center;
    list-style-type: none;
}

.footer_alt ul li a{
    text-decoration: none;
    color: #1779a3;
}